# --- Core Data & Machine Learning ---
pandas>=2.2.3
numpy>=2.1.0
scikit-learn>=1.6.0
scipy>=1.14.1
nltk>=3.9.2
matplotlib>=3.9.2

# --- MLOps & Tracking ---
mlflow>=2.16.0
dagshub>=0.6.6
dvc>=3.66.1
dvc-s3

# --- Cloud & Storage ---
boto3>=1.42.50
awscli

# --- Web App & Monitoring ---
Flask
waitress
prometheus_client

# --- Utilities ---
python-dotenv
PyYAML

# --- Install Local Project ---
-e .